<meta http-equiv="refresh" content="5">

<style>
    table.fixed {
        table-layout: fixed;
        width: 600px;
    }

        table.fixed td {
            overflow: hidden;
            width: 80px;
        }

    h2 {
        padding-top: 0;
        margin-top: 0;
    }
</style>

@model Connect4.Models.Game

@switch (Model.CurrentState)
{
    case Connect4.Models.GameState.GameNotStarted:
        <h2>Current State: Not Started</h2>
        break;
    case Connect4.Models.GameState.RedWon:
        <h2>Current State: Red Won</h2>
        break;
    case Connect4.Models.GameState.YellowWon:
        <h2>Current State: Yellow Won</h2>
        break;
    case Connect4.Models.GameState.RedToPlay:
        <h2>Current State: Red to Play</h2>
        break;
    case Connect4.Models.GameState.YellowToPlay:
        <h2>Current State: Yellow to Play</h2>
        break;
    case Connect4.Models.GameState.Draw:
        <h2>Current State: Draw</h2>
        break;
}

<h2>Red Player: @ViewData["RedPlayer"]</h2>
<h2>Yellow Player: @ViewData["YellowPlayer"]</h2>

<table class="table fixed" style="border:dotted">

    @for (int rowNumber = Connect4.Models.Game.NUMBER_OF_ROWS - 1; rowNumber >= 0; rowNumber--)
    {
        <tr>
            @for (int columnNumber = 0; columnNumber < Connect4.Models.Game.NUMBER_OF_COLUMNS; columnNumber++)
            {
                <td>
                    @switch (Model.Cells[columnNumber, rowNumber])
                    {
                        case Connect4.Models.CellContent.Empty:
                            <img src="~/Content/empty.bmp" />
                            break;
                        case Connect4.Models.CellContent.Red:
                            <img src="~/Content/red.bmp" />
                            break;
                        case Connect4.Models.CellContent.Yellow:
                            <img src="~/Content/yellow.bmp" />
                            break;
                        default:
                            break;
                    }

                </td>
            }
        </tr>
    }


</table>