<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yorkdojoconnect4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>yorkdojoconnect4.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>YorkDojoConnect4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$YorkDojoConnect4</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User ID=db@yorkdojoconnect4dbserver;Password=Pr0acti$" Name="Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User Id=db@yorkdojoconnect4dbserver;Password=Pr0acti$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Connect4.Models.ApplicationDbContext, Connect4" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Connect4.Properties.Settings.DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User ID=db@yorkdojoconnect4dbserver;Password=Pr0acti$" Name="Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User Id=db@yorkdojoconnect4dbserver;Password=Pr0acti$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=Connect4;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Connect4.Properties.Settings.DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=Connect4;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Connect4.Properties.Settings.DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User Id=db@yorkdojoconnect4dbserver;Password=Pr0acti$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yorkdojoconnect4dbserver.database.windows.net,1433;Initial Catalog=YorkDojoConnect4_db;User Id=db@yorkdojoconnect4dbserver;Password=Pr0acti$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>