@model IEnumerable<Connect4.Models.Player>

<h1>Teams</h1>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "DisplayGame", new { gameID = item.CurrentGameID }, null)
            </td>
        </tr>
    }

</table>